.r-sign {
  background: linear-gradient(rgba(255, 225, 179, 0.952), white);
}
.r-heading {
  margin: 10px 10px 30px 10px;
  padding: 10px;
  text-align: center;
}
.vl {
  background: black;
  width: 1px;
  margin: 20px 0 20px 0;
}
.r-body {
  border: 1px solid black;
  margin: auto;
  width: 80%;
  justify-content: space-around;
  display: flex;
}
.r-form {
  text-align: center;
  width: 40%;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
.r-input {
  padding-left: 10px;
  width: 90%;
  margin: 5px 0 10px 0;
  border-radius: 5px;
  border: 1px solid black;
  height: 40px;
}
.r-btn {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  background: var(--beta-color);
  color: white;
}
