.user-sign-container {
  margin: 10px;
  background: #285954;
  width: 350px;
  padding-top: 4px;
  float: right;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.bloc-tabs {
  display: flex;
}

.tabs {
  font-weight: 500;
  font-size: large;
  padding: 10px;
  text-align: center;
  width: 50%;
  background: #285954;
  color: white;
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
  background: white;
  color: #285954;
  /* border-bottom: 1px solid transparent; */
}

/* .active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background: #285954;
  border-radius: 5px;
} */

button {
  border: none;
}
.content-tabs {
  flex-grow: 1;
}
.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.ul {
  width: 100%;
  height: 45px;
  border-radius: 4px;
  border: 1px solid #285954;
  margin-bottom: 15px;
  padding-left: 10px;
}
.ul-btn {
  background: #285954;
  width: 100%;
  margin-bottom: 10px;
  color: white;
  height: 45px;
  border-radius: 4px;
}
/* .ul-name {
}
.ul-pass {
  height: 40px;
  width: 100%;
} */
.active-content {
  display: block;
}
