.r-add-menu {
  padding: 10px;
}
.r-add-menu-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.r-add-menu-form input {
  height: 35px;
  margin: 0 0 6px 0;
  width: 90%;
}
.r-add-menu-form button {
  background: var(--beta-color);
  height: 35px;
  color: white;
  width: 90%;
}
.r-add-menu-photo {
  text-align: center;
  width: 40%;
  height: 150px;
  border: 1px solid black;
  margin-bottom: 6px;
  background: rgb(216, 216, 216);
}

.r-photo {
  background: rgb(245, 245, 245);
  border: 1px solid #fff;
  border-radius: 5px;
  border-bottom: 1px solid #ddd;
  box-shadow: inset 0 2px 2.5px rgba(0, 0, 0, 0.39), 0 -1px 1px #fff,
    0 1px 0 #fff;
}

/* RESTAURANT INFO */
.r-info-specific {
  display: flex;
}
.r-info-specific-label1 {
  width: 100px;
}
.r-profile-info {
  margin: 8px;
  padding: 5px;
  border-radius: 5px;
  background: white;
  box-shadow: var(--alpha-shadow);
}
.r-row-second {
  display: flex;
}
.r-row-s {
  margin: 8px;
  padding: 5px;
  border-radius: 5px;
  background: white;
  width: 33%;
  height: 160px;
  box-shadow: var(--alpha-shadow);
}
.r-row-third {
  margin: 8px;
  padding: 5px;
  border-radius: 5px;
  background: white;
  width: 99%;
  height: 160px;
  box-shadow: var(--alpha-shadow);
}
