.HomeIntro {
  padding-top: 12%;
  margin-left: 30px;
}
.FeedText {
  margin-left: 100px;
  /* text-align: center; */
}
span {
  border-radius: 5px;
  padding: 0 5px;
}
.sec-1 {
  height: 85vh;
  background-image: url(../img/back_fh.png);
  /* filter: blur(8px); */
  /* -webkit-filter: blur(8px); */
  /* background-size: 10px; */
  /* height: 10px; */
  background-position: right bottom;
  background-size: 550px;
  background-repeat: no-repeat;
  /* background: linear-gradient(white, grey); */
  padding-left: 10px;
  padding-right: 10px;
  /* opacity: 0.5; */
}
.sec-3 {
  margin-left: 80px;
}
