.FoodNav,
.RestaurantNav {
  margin-top: 20px;
  margin-right: 70px;
  display: flex;
  flex-direction: column;
}
.FoodNav {
  margin-bottom: 80px;
}
.RightNavBtn {
  margin-top: 10px;
  background: rgb(255, 255, 255);
  margin-bottom: 10px;
  height: 45px;
  width: 200px;
  border-radius: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: 20px;
}
